* {
	box-sizing: border-box;
}
body {
	width: 100%;
	margin: 0; padding: 0;
}
.header, .footer {
	padding: 10px 50px;
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	background-color: #ffffffa1;
	border-bottom: 1px solid #aaa;
}
.footer {
	top: unset;
	bottom: 0;
	border-bottom: 0;
	border-top: 1px solid #aaa;
}
.viewer {
	width: 100%;
	margin: 50px;
}
.chapter {
	font-size: 18px;
}
.page .viewer {
	height: calc(100vh - 200px);
	overflow: hidden;
	white-space: nowrap;
	margin: 100px 50px;
	font-size: 0px;
    letter-spacing: 0;
    word-spacing: 0;
}
.page .chapter {
	vertical-align: top;
	white-space: initial;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: inline-block;
}
.page .contents {
	height: 100%;
	column-width: 480px;
	column-gap: 40px;
	column-fill: auto;
}
.buttonGroup {
	display: inline;
}
.pageOnly {
	display: none;
}
.page .pageOnly {
	display: unset;
}

input {
	width: 80px;
	border: 0;
	border-bottom: 1px solid #ddd;
	padding: 4px 8px;
	height: 24px;
}
button {
	padding: 4px 10px;
	border: none;
	background: #ddd;
	height: 24px;
}